[Unit]
Description=app
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
WorkingDirectory=/home/ubuntu/Git
ExecStart=/home/ubuntu/.local/bin/gunicorn app:app --preload

[Install]
WantedBy=multi-user.target